# Plain HTTP is intentional for these private home.arpa names. Tailscale
# encrypts remote traffic to the subnet router. See the repository README
# before enabling Caddy's internal HTTPS or using a publicly trusted domain.

http://{$CADDY_LAN_IP} {
	respond "Caddy on Arc is healthy" 200
}

http://caddy.arc.home.arpa {
	respond "Caddy on Arc is healthy" 200
}

http://komodo.arc.home.arpa {
	reverse_proxy komodo:9120
}

http://open-webui.arc.home.arpa {
	reverse_proxy gluetun:8080
}

http://hermes.arc.home.arpa {
	reverse_proxy gluetun:9119
}

http://hermes-api.arc.home.arpa {
	reverse_proxy gluetun:8642
}
